[Desktop Entry]
Categories=Qt;KDE;Office;Graphics;
Exec=krita %F
GenericName=Application for Drawing and Handling of Images
GenericName[ar]=تطبيق لرسم الصور والتعامل معها
GenericName[bg]=Приложение за рисуване и обработка на изображения
GenericName[bs]=Aplikacija za crtanje i upravljanje slikom
GenericName[ca]=Aplicació per a dibuix i modificació d'imatges
GenericName[ca@valencia]=Aplicació per a dibuix i modificació d'imatges
GenericName[cs]=Aplikace pro kreslení a zpracování obrázků
GenericName[da]=Tegne- og billedbehandlingsprogram
GenericName[de]=Programm zum Zeichnen und Bearbeiten von Bildern
GenericName[el]=Εφαρμογή για επεξεργασία και χειρισμό εικόνων
GenericName[en_GB]=Application for Drawing and Handling of Images
GenericName[eo]=Aplikaĵo por Desegnado kaj Mastrumado de Bildoj
GenericName[es]=Aplicación para dibujo y manipulación de imágenes
GenericName[et]=Joonistamise ja pilditöötluse rakendus
GenericName[eu]=Irudiak marrazteko eta manipulatzeko aplikazioa
GenericName[fa]=کاربرد برای ترسیم و به کار بردن تصاویر
GenericName[fi]=Ohjelma kuvien piirtämiseen ja käsittelyyn
GenericName[fr]=Application pour dessiner et manipuler des images
GenericName[fy]=Aplikaasje om ôfbyldings mei te tekenjen en te bewurkjen
GenericName[ga]=Feidhmchlár le haghaidh Líníochta agus Láimhseála Íomhánna
GenericName[gl]=Aplicación de debuxo e manexo de imaxes
GenericName[he]=יישום לצביעה וניהול תמונות
GenericName[hi]=चित्रों को बनाने तथा उन्हें प्रबन्धित करने का अनुप्रयोग
GenericName[hne]=फोटू मन ल ड्रा करे अउ ओ मन ल प्रबन्धित करे के अनुपरयोग
GenericName[hu]=Rajzoló és képkezelő alkalmazás
GenericName[id]=Aplikasi untuk Menggambar dan Penanganan Citra
GenericName[is]=Teikni og myndvinnsluforrit
GenericName[it]=Applicazione di disegno e gestione di immagini
GenericName[ja]=描画と画像操作のためのアプリケーション
GenericName[ka]=გამოსახულებების ხატვისა და დამუშავების პროგრამა
GenericName[kk]=Кескінді салу және өңдеу бағдарламасы
GenericName[ko]=그림 그리기 및 처리 앱
GenericName[lv]=Programma zīmēšanai un attēlu apstrādei
GenericName[nds]=Programm för't Teken un Bildhanteren
GenericName[ne]=रेखाचित्र बनाउन र छविको ह्यान्डल गर्नका लागि अनुप्रयोग
GenericName[nl]=Toepassing om afbeeldingen te tekenen en te bewerken
GenericName[nn]=Program for teikning og handsaming av bilete
GenericName[pl]=Program do rysowania i obróbki obrazów
GenericName[pt]=Aplicação de Desenho e Manipulação de Imagens
GenericName[pt_BR]=Aplicativo de desenho e manipulação de imagens
GenericName[ro]=Aplicație pentru desenare și manipularea imaginilor
GenericName[ru]=Приложение для рисования и редактирования изображений
GenericName[sk]=Aplikácia na kresnenie a manilupáciu s obrázkami
GenericName[sl]=Program za risanje in rokovanje s slikami
GenericName[sv]=Program för att rita och hantera bilder
GenericName[ta]=பிம்பங்களை கையாளுதல் மற்றும் வரைதலுக்கான பயன்னாடு
GenericName[tr]=Çizim ve Görsel İşleme Uygulaması
GenericName[ug]=رەسىم سىزىش ۋە سۈرەت بىر تەرەپ قىلىش پىروگراممىسى
GenericName[uk]=Програма для малювання і обробки зображень
GenericName[uz]=Rasm chizish dasturi
GenericName[uz@cyrillic]=Расм чизиш дастури
GenericName[wa]=Programe po dessiner et apougnî des imådjes
GenericName[zh_CN]=用于绘制和处理图像的应用程序
GenericName[zh_TW]=繪圖與影像處理的應用程式
Icon=krita
MimeType=image/jxl;
Name=LibrePaint
Name[af]=LibrePaint
Name[ar]=LibrePaint
Name[bg]=LibrePaint
Name[br]=LibrePaint
Name[bs]=LibrePaint
Name[ca]=LibrePaint
Name[ca@valencia]=LibrePaint
Name[cs]=LibrePaint
Name[cy]=LibrePaint
Name[da]=LibrePaint
Name[de]=LibrePaint
Name[el]=LibrePaint
Name[en_GB]=LibrePaint
Name[eo]=LibrePaint
Name[es]=LibrePaint
Name[et]=LibrePaint
Name[eu]=LibrePaint
Name[fi]=LibrePaint
Name[fr]=LibrePaint
Name[fy]=LibrePaint
Name[ga]=LibrePaint
Name[gl]=LibrePaint
Name[he]=LibrePaint
Name[hi]=LibrePaint
Name[hne]=LibrePaint
Name[hr]=LibrePaint
Name[hu]=LibrePaint
Name[ia]=LibrePaint
Name[id]=LibrePaint
Name[is]=LibrePaint
Name[it]=LibrePaint
Name[ja]=LibrePaint
Name[ka]=LibrePaint
Name[kk]=LibrePaint
Name[ko]=LibrePaint
Name[lt]=LibrePaint
Name[lv]=LibrePaint
Name[mr]=LibrePaint
Name[ms]=LibrePaint
Name[nds]=LibrePaint
Name[ne]=LibrePaint
Name[nl]=LibrePaint
Name[nn]=LibrePaint
Name[pl]=LibrePaint
Name[pt]=LibrePaint
Name[pt_BR]=LibrePaint
Name[ro]=LibrePaint
Name[ru]=LibrePaint
Name[se]=LibrePaint
Name[sk]=LibrePaint
Name[sl]=LibrePaint
Name[sv]=LibrePaint
Name[ta]=LibrePaint
Name[tg]=LibrePaint
Name[tr]=LibrePaint
Name[ug]=LibrePaint
Name[uk]=LibrePaint
Name[uz]=LibrePaint
Name[uz@cyrillic]=LibrePaint
Name[wa]=LibrePaint
Name[xh]=LibrePaint
Name[zh_CN]=LibrePaint
Name[zh_TW]=LibrePaint
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
NoDisplay=true
X-KDE-AliasFor=org.kde.krita.desktop
