[Desktop Entry]
Categories=Qt;KDE;Office;Graphics;
Exec=krita %F
Icon=krita
MimeType=image/tiff;
Name=LibrePaint
Name[af]=LibrePaint
Name[ar]=LibrePaint
Name[bg]=LibrePaint
Name[br]=LibrePaint
Name[bs]=LibrePaint
Name[ca]=LibrePaint
Name[ca@valencia]=LibrePaint
Name[cs]=LibrePaint
Name[cy]=LibrePaint
Name[da]=LibrePaint
Name[de]=LibrePaint
Name[el]=LibrePaint
Name[en_GB]=LibrePaint
Name[eo]=LibrePaint
Name[es]=LibrePaint
Name[et]=LibrePaint
Name[eu]=LibrePaint
Name[fi]=LibrePaint
Name[fr]=LibrePaint
Name[fy]=LibrePaint
Name[ga]=LibrePaint
Name[gl]=LibrePaint
Name[he]=LibrePaint
Name[hi]=LibrePaint
Name[hne]=LibrePaint
Name[hr]=LibrePaint
Name[hu]=LibrePaint
Name[ia]=LibrePaint
Name[id]=LibrePaint
Name[is]=LibrePaint
Name[it]=LibrePaint
Name[ja]=LibrePaint
Name[ka]=LibrePaint
Name[kk]=LibrePaint
Name[ko]=LibrePaint
Name[lt]=LibrePaint
Name[lv]=LibrePaint
Name[mr]=LibrePaint
Name[ms]=LibrePaint
Name[nds]=LibrePaint
Name[ne]=LibrePaint
Name[nl]=LibrePaint
Name[nn]=LibrePaint
Name[pl]=LibrePaint
Name[pt]=LibrePaint
Name[pt_BR]=LibrePaint
Name[ro]=LibrePaint
Name[ru]=LibrePaint
Name[se]=LibrePaint
Name[sk]=LibrePaint
Name[sl]=LibrePaint
Name[sv]=LibrePaint
Name[ta]=LibrePaint
Name[tg]=LibrePaint
Name[tr]=LibrePaint
Name[ug]=LibrePaint
Name[uk]=LibrePaint
Name[uz]=LibrePaint
Name[uz@cyrillic]=LibrePaint
Name[wa]=LibrePaint
Name[xh]=LibrePaint
Name[zh_CN]=LibrePaint
Name[zh_TW]=LibrePaint
NoDisplay=true
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-AliasFor=org.kde.krita.desktop
