[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_script_starter
X-Krita-Manual=Manual.html
Name=LibrePaint Script Starter
Name[ar]=LibrePaint Script Starter
Name[bg]=LibrePaint Script Starter
Name[ca]=LibrePaint Script Starter
Name[ca@valencia]=LibrePaint Script Starter
Name[cs]=LibrePaint Script Starter
Name[de]=LibrePaint Script Starter
Name[el]=LibrePaint Script Starter
Name[en_GB]=LibrePaint Script Starter
Name[eo]=LibrePaint Script Starter
Name[es]=LibrePaint Script Starter
Name[et]=LibrePaint Script Starter
Name[eu]=LibrePaint Script Starter
Name[fi]=LibrePaint Script Starter
Name[fr]=LibrePaint Script Starter
Name[ga]=LibrePaint Script Starter
Name[gl]=LibrePaint Script Starter
Name[he]=LibrePaint Script Starter
Name[hi]=LibrePaint Script Starter
Name[hu]=LibrePaint Script Starter
Name[is]=LibrePaint Script Starter
Name[it]=LibrePaint Script Starter
Name[ja]=LibrePaint Script Starter
Name[ka]=LibrePaint Script Starter
Name[ko]=LibrePaint Script Starter
Name[nl]=LibrePaint Script Starter
Name[nn]=LibrePaint Script Starter
Name[pl]=LibrePaint Script Starter
Name[pt]=LibrePaint Script Starter
Name[pt_BR]=LibrePaint Script Starter
Name[ru]=LibrePaint Script Starter
Name[sk]=LibrePaint Script Starter
Name[sl]=LibrePaint Script Starter
Name[sv]=LibrePaint Script Starter
Name[tr]=LibrePaint Script Starter
Name[ug]=LibrePaint Script Starter
Name[uk]=LibrePaint Script Starter
Name[zh_CN]=LibrePaint Script Starter
Name[zh_TW]=LibrePaint Script Starter
Comment=Create metadata and file structure for a new script for the free paint app
Comment[ar]=Create metadata and file structure for a new script for the free paint app
Comment[ca]=Create metadata and file structure for a new script for the free paint app
Comment[ca@valencia]=Create metadata and file structure for a new script for the free paint app
Comment[cs]=Create metadata and file structure for a new script for the free paint app
Comment[de]=Create metadata and file structure for a new script for the free paint app
Comment[el]=Create metadata and file structure for a new script for the free paint app
Comment[en_GB]=Create metadata and file structure for a new script for the free paint app
Comment[eo]=Create metadata and file structure for a new script for the free paint app
Comment[es]=Create metadata and file structure for a new script for the free paint app
Comment[et]=Create metadata and file structure for a new script for the free paint app
Comment[eu]=Create metadata and file structure for a new script for the free paint app
Comment[fi]=Create metadata and file structure for a new script for the free paint app
Comment[fr]=Create metadata and file structure for a new script for the free paint app
Comment[ga]=Create metadata and file structure for a new script for the free paint app
Comment[gl]=Create metadata and file structure for a new script for the free paint app
Comment[he]=Create metadata and file structure for a new script for the free paint app
Comment[hi]=Create metadata and file structure for a new script for the free paint app
Comment[hu]=Create metadata and file structure for a new script for the free paint app
Comment[it]=Create metadata and file structure for a new script for the free paint app
Comment[ja]=Create metadata and file structure for a new script for the free paint app
Comment[ka]=Create metadata and file structure for a new script for the free paint app
Comment[ko]=Create metadata and file structure for a new script for the free paint app
Comment[nl]=Create metadata and file structure for a new script for the free paint app
Comment[nn]=Create metadata and file structure for a new script for the free paint app
Comment[pl]=Create metadata and file structure for a new script for the free paint app
Comment[pt]=Create metadata and file structure for a new script for the free paint app
Comment[pt_BR]=Create metadata and file structure for a new script for the free paint app
Comment[ru]=Create metadata and file structure for a new script for the free paint app
Comment[sk]=Create metadata and file structure for a new script for the free paint app
Comment[sl]=Create metadata and file structure for a new script for the free paint app
Comment[sv]=Create metadata and file structure for a new script for the free paint app
Comment[tr]=Create metadata and file structure for a new script for the free paint app
Comment[ug]=Create metadata and file structure for a new script for the free paint app
Comment[uk]=Create metadata and file structure for a new script for the free paint app
Comment[zh_CN]=Create metadata and file structure for a new script for the free paint app
Comment[zh_TW]=Create metadata and file structure for a new script for the free paint app
