[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_script_starter
X-Krita-Manual=Manual.html
Name=LibrePaint Script Starter
Name[ar]=بادئ سكربتات LibrePaint
Name[bg]=LibrePaint Script Starter
Name[ca]=Iniciador de scripts del LibrePaint
Name[ca@valencia]=Iniciador de scripts de LibrePaint
Name[cs]=Spouštěč skriptů LibrePaint
Name[de]=LibrePaint-Skriptstarter
Name[el]=Εκκινητής σεναρίου LibrePaint
Name[en_GB]=LibrePaint Script Starter
Name[eo]=LibrePaint Script Starter
Name[es]=Iniciador de guiones de LibrePaint
Name[et]=LibrePaint skriptialustaja
Name[eu]=LibrePainten gidoi abiarazlea
Name[fi]=LibrePaintin skriptikäynnistin
Name[fr]=Lanceur de scripts LibrePaint
Name[ga]=Tosaitheoir Script LibrePaint
Name[gl]=Iniciador de guións de LibrePaint
Name[he]=מתחיל סקריפטים של LibrePaint
Name[hi]=LibrePaint स्क्रिप्ट प्रारंभक
Name[hu]=LibrePaint-szkriptindító
Name[is]=LibrePaint skrifturæsing
Name[it]=Iniziatore di script per LibrePaint
Name[ja]=LibrePaint スクリプトスターター
Name[ka]=LibrePaint-ის სკრიპტის გამშვები
Name[ko]=LibrePaint 스크립트 시작 도구
Name[nl]=Script-starter van LibrePaint
Name[nn]=LibrePaint skriptbyggjar
Name[pl]=Starter skryptów LibrePaint
Name[pt]=Inicialização do Programa do LibrePaint
Name[pt_BR]=Inicializador de script do LibrePaint
Name[ru]=Создание сценариев LibrePaint
Name[sk]=Startér skriptov LibrePaint
Name[sl]=Zaganjalnik skriptov LibrePaint
Name[sv]=LibrePaint skriptstart
Name[tr]=LibrePaint Betik Başlatıcısı
Name[ug]=LibrePaint قوليازما قوزغاتقۇچ
Name[uk]=Створення скрипту LibrePaint
Name[zh_CN]=LibrePaint 空脚本生成工具
Name[zh_TW]=LibrePaint 指令稿起步助手
Comment=Create the metadata and file structure for a new LibrePaint script
Comment[ar]=أنشئ البيانات الوصفية وهيكل الملف لسكربت LibrePaint جديد
Comment[ca]=Crea les metadades i l'estructura de fitxers d'un script nou del LibrePaint
Comment[ca@valencia]=Crea les metadades i l'estructura de fitxers d'un script nou de LibrePaint
Comment[cs]=Vytvoří metadata a souborovou strukturu pro nový skript LibrePaintu
Comment[de]=Erstellt Metadaten und Dateistruktur für ein neues LibrePaint-Skript
Comment[el]=Δημιουργία μεταδεδομένων και δομής αρχείου για ένα νέο σενάριο του LibrePaint
Comment[en_GB]=Create the metadata and file structure for a new LibrePaint script
Comment[eo]=Krei la metadatumojn kaj dosierstrukturon por nova LibrePaint skripto
Comment[es]=Crear los metadatos y la estructura de archivos para un nuevo guion de LibrePaint
Comment[et]=Uue LibrePainti skripti metaandmete ja failistruktuuri loomine
Comment[eu]=LibrePainten gidoi berri baterako metadatuak eta fitxategi-egitura sortu
Comment[fi]=Luo uudelle LibrePaint-skriptille metatieto- ja tiedostorakenne
Comment[fr]=Créer les métadonnées et la structure du fichier pour le nouveau script LibrePaint
Comment[ga]=Cruthaigh na meiteashonraí agus an struchtúr comhaid le haghaidh script nua LibrePaint
Comment[gl]=Crear os metadatos e a estrutura de ficheiros para un novo guión de LibrePaint.
Comment[he]=יצירת נתוני על ומבנה קבצים לסקריפט חדש של LibrePaint
Comment[hi]=एक नए LibrePaint स्क्रिप्ट के लिए मेटाडेटा और फ़ाइल संरचना बनाएँ
Comment[hu]=Új LibrePaint-szkript metaadatainak és fájlszerkezetének létrehozása
Comment[it]=Crea i metadati e la struttura dei file per un nuovo script di LibrePaint
Comment[ja]=新しい LibrePaint スクリプトのメタデータとファイル構造を作成する
Comment[ka]=შექმენით მეტამონაცემები და ფაილის სტრუქტურა LibrePaint-ის ახალი სკრიპტისთვის
Comment[ko]=새 LibrePaint 스크립트에 대한 메타데이터 및 파일 구조 생성
Comment[nl]=Maak de metagegevens en bestandsstructuur voor een nieuw LibrePaint-script
Comment[nn]=Generer metadata og filstruktur for nye LibrePaint-skript
Comment[pl]=Utwórz metadane i strukturę plików dla nowego skryptu LibrePainta
Comment[pt]=Cria os meta-dados e a estrutura de ficheiros para um novo programa do LibrePaint
Comment[pt_BR]=Cria os metadados e a estrutura de arquivos para um novo script do LibrePaint
Comment[ru]=Создание структуры метаданных и файлов для нового сценария LibrePaint
Comment[sk]=Create the metadata and file structure for a new LibrePaint script
Comment[sl]=Ustvari metapodatke in strukturo datoteke za nov LibrePaint skript
Comment[sv]=Skapa metadata och filstruktur för ett nytt LibrePaint-skript
Comment[tr]=Yeni LibrePaint betiği için üst veri ve dosya yapısı oluştur
Comment[ug]=يېڭى LibrePaint قوليازمىغا تەپسىلىي سانلىق مەلۇمات ۋە ھۆججەت قۇرۇلمىسى قۇرىدۇ
Comment[uk]=Створення метаданих і структури файлів для нового скрипту LibrePaint
Comment[zh_CN]=为新的 LibrePaint 脚本创建元数据及文件结构
Comment[zh_TW]=為新的 LibrePaint 指令稿建立中繼資料和檔案建構體
